version: 2
jobs:
  build:
    branches:
      only: master
    environment:
      CIRCLE_BRANCH: master
      TZ: '/usr/share/zoneinfo/Etc/UTC'
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
    docker:
      - image: cimg/python:latest
    steps:
      - checkout
      - run: sudo apt-get install graphviz
      - run:
          name: update pip
          command: sudo pip install --upgrade pip
      - run: sudo pip install -q mkdocs mkdocs-material pygments graphviz markdown-inline-graphviz-extension
      - run:
          name: Build Docs Site
          command: mkdocs build --clean
      - run:
          name: Copy config file to gh-pages branch
          command: cp -r .circleci site/
      - add_ssh_keys:
          fingerprints:
            - "7b:4c:eb:72:48:4d:3f:cd:05:cc:16:46:33:f9:fb:8a"
      - run:
          name: Upload
          command: mkdocs gh-deploy
